/* ----------------------------------------------------------- URL references */
.url
{
	font-family: monospace;
	font-size: 0.9rem;
}

/* ---------------------------------------------------------- Path references */
.path
{
	font-family: monospace;
	font-size: 0.9rem;
}

/* --------------------------------------------- Path references in body text */
.path-inline
{
	font-family: monospace;
	color: rgb(0, 80, 0);
	background-color: rgb(227, 227, 255);
}

/* ------------------------------------------------------- General references */
span.reference
{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 0.9rem;
}